{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindYourSatellite</title>
</head>
<body>
<div id="registration-button">
    <button>zarejestruj się</button>
</div>

<div id="sign-in-button">
    <button>zaloguj się</button>
</div>
{% if request.session.user_id %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Wyloguj się</button>
</form>
{% endif %}
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>