{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div><p>utwórz swoje konto do śledzenia satelit</p></div>
<form method="post" action="{% url 'register' %}">
        {% csrf_token %}
    {{ form.errors }}
        <label for="email">e-mail:</label><br>
    <input id="email" name="email" placeholder="e-mail"><br><br>
    <div id="email-error" class="error-placeholder"></div>

    <label for="password">hasło: (co najmniej: 5 znaków, 1 litera, 1 cyfra)</label><br>
    <input id="password" name="password" type="password" placeholder="hasło"><br><br>
    <div id="password-error" class="error-placeholder"></div>

    <label for="confirm-password">powtórz hasło:</label><br>
    <input id="confirm-password" name="confirm-password" type="password" placeholder="powtórz hasło"><br><br>
    <div id="confirm-password-error" class="error-placeholder"></div>

    <input id="submit-button" type="button" value="zapisz się">
</form>
    <script src="{% static 'registration.js' %}"></script>

</body>
</html>